@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lacquer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Freckle+Face&family=Lacquer&family=Nothing+You+Could+Do&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.carousel {
  width: 100%;
  overflow: hidden;
  background: transparent;
  padding: 10px 0;
}

.carousel-track {
  display: flex;
  width: max-content;
}

.carousel-item {
  min-width: 200px;
  margin: 0 15px;
  color: #fff;
  text-align: center;
  border-radius: 12px;
}
.carousel-item img {
  max-width: 240px;
  max-height: 240px;
  border-radius: 15px;
  border: 3px solid goldenrod;
}

/* LEFT SCROLL */
.carousel-track.left {
  animation: scrollLeft linear infinite;
  animation-duration: 40s;
}

/* RIGHT SCROLL */
.carousel-track.right {
  animation: scrollRight linear infinite;
  animation-duration: 40s;
}
.carousel:hover .carousel-track {
  animation-play-state: paused;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.heads {
  font-size: 50px;
  background: url(../src/assets/goldenBg.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 50px 0 30px 0;
}

@media screen and (max-width: 438px) {
  .heads {
    font-size: 35px;
  }
}
